<div class='container-fluid'>
        <div class='row home_title'>

        </div>
        <div class='row justify-content-center'>

            <button type="button" class="btn btn-primary home_button" onclick="location.href='/sound/1'">Start
                Tutorial
            </button>

        </div>
        <div class='row justify-content-center'>
            <div class='home_box'>
                9,999 of 9,999 love our
                10 MIN TUTORIAL
            </div>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4210cacd5dd14_hero-image04.svg'
                 class='p p1'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421d708d5dd0f_hero-image10.svg'
                 class='p p2'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421aa60d5dd23_hero-image03.svg'
                 class='p p3'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4215411d5dd10_hero-image08.svg'
                 class='p p4'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4217a28d5dd16_hero-image06.svg'
                 class='p p5'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421940ed5dd28_hero-image02.svg'
                 class='p p6'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421209bd5dd18_hero-image09.svg'
                 class='p p7'>
        </div>
    </div>
